*{
    margin: 0;
    padding: 0;
}
header.topo{
    height: 1080px;
    width: 100%;
    background-image:url(backgrounds/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 1080px;
    background-attachment:inherit;
    filter: blur(2px) brightness(30%);

}