*{
    margin: 0px;
    padding: 0px;
}


/*ESTILIZAÇÃO DO MENU*/
#menu{
    height: 50px;
    background-color: #1a273b;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.logo{
    width: 5%;
    height: 50px;
    text-align: center;
}
div.ItensMenu{
    position: relative;
    height: 50px;
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.ItensMenu ul{
    list-style: none;
    padding:0;
    margin: 0;
}
div.ItensMenu ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 6px;
    text-transform: uppercase;
    transition: all 600ms ease;
}
div.ItensMenu ul li{
    display: inline-block;
    
    position: relative;
    padding-left: 70px;
    color: white;
}
div.ItensMenu ul li ul{
    position:absolute;
    top: 18px;
    display: none;
    background-color:#1a273b;
}
div.ItensMenu ul li:hover ul, div.ItensMenu ul li.over ul{
    display: block;
}
div.ItensMenu ul li ul li{
    padding-left: 10px;
    display: block;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
div.ItensMenu ul li a:hover{
    color: #e9d691;
    transform-origin: center;
}


/*ESTILIZAÇÃO DO HEADER*/
header.topo{
    height: 100vh;
    width: 100%;
    background-image:url(backgrounds/rama.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 1080px;
    z-index: 0;
}
div.div_header{
    backdrop-filter:blur(0px) brightness(30%) ;
    filter:none!important;
    height: 100vh;
    color: white;
    z-index: 5;
    text-align: center;
}
#title_header{
    padding-top: 200px;
    margin-bottom: 50px;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 400;
}
button.Call_Action_Header{
    font-size: 18px;
    width: 350px;
    height: 80px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    background: #05111e;
    border: 1px solid #e9d691;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    transition: all 500ms ease;
    cursor: pointer;
    z-index: 1;
}
    button.Call_Action_Header:nth-last-child(1){
        margin-left: 100px;
    }
    button.Call_Action_Header::after{
        content: "";
        background-color: #e9d691;
        position: absolute;
        z-index: -1;
        display: block;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 100%;
        transition: all 1s;
    }
    button.Call_Action_Header:hover{
        color: #05111e;
    }
    button.Call_Action_Header:hover::after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 1s;
    }


/*Estilização da estrutura da pagina*/
.EstruturaPadrao{
    background: #05111e;
    width: 100%;
    height: 200vh;
}
.TituloPadrao{
    color: white;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
}
.BorderTitle{
    width: 60%;
    height: 1px;
    background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(194,165,62,1) 50%, rgba(0,0,0,0) 100%);
    margin:auto;
    margin-top: 10px;
}
.PrincipalWrapper{
    flex-direction: column;
}
.WrapperPadrao{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.WrapperFilho{
    display: inline-block;
    width: 50%;
    color: white;
    align-items: center;
}
.Subtitle{
    text-align: center;
}
.BorderSubtitle{
    width: 30%;
}
.Paragraph{
    margin: auto;
    text-align: justify;
    color: white;
    width: 50%;
    margin-top: 10px;
}
.BorderWrapper{
    width: 80%;
    margin-top: 40px;
}
.ButtonSobreOSmite{
    margin-top: 100px!important;
}